{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
    <h2 class="border-bottom py-2">{{ object.name }}</h2>

    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line">
                {% if crew.image %}
                    <img src="{{ crew.image.url }}" class="shadow rounded" style="width:500px;height:500px"></img>
                {% endif %}
                <h4>{{ object.abstract }}</h4>
                <div class="card" style="width:350px">
                    <div class="card-body">
                        {{ object.description|safe }}
                    </div>
                </div>
                <H5>크루 정보</H5>
                <a> 크루모임형태 : {{ object.meeting_type }}</a>
                <a> 크루모임시간 : {% if object.period %}{{ object.period }} {% endif %}{% if object.weekday %}{{ object.weekday }} {% endif %}{% if object.start_time and object.end_time %} {{ object.start_time }} ~ {{ object.end_time }}{% endif %}</a>
                {% if not object.period %}
                    <a> 크루모임시간(기타) : {{ object.meeting_time }}</a>
                {% endif %}
                <a> 모임제한 : {{ object.meeting_limit }}</a>
                <a> 크루 소속 공동체 : {{ object.get_community_display }}</a>
                <a> 크루 가입가능 공동체 : {{ object.get_community_limit_display }}</a>
                <a> 크루 매니저 :
                <div class="d-inline-flex position-relative">
                    {% if crew.manager.profile_image %}
                        <img class="rounded shadow" src="{{ crew.manager.profile_image }}" alt="Avatar" style="width: 20px; height: 20px;">
                    {% endif %}
                        <p class="badge bg-primary">{{ crew.manager.name }}</p>
                </div>
                </a>
                <a> 크루 멤버 :{% for member in crew.members.all %}
                    <div class="d-inline-flex position-relative">
                    {% if member.profile_image %}
                        <img class="rounded shadow" src="{{ member.profile_image }}" alt="Avatar" style="width: 20px; height: 20px;">
                    {% endif %}
                        <p class="badge bg-primary">{{ member.name }}</p>
                    </div>
                </a>
                {% endfor %}
                <a> 최대모임인원 (본인 포함) : {{ crew.members.count }} / {{ crew.member_limit }}</a>
                <a> 크루생성날짜 : {{ object.create_date }}</a>


            </div>
        </div>
    </div>
    {% if user.id == crew.manager.id  %}
        <a href="{% url 'crew:delete' pk=object.id %}" class="delete btn btn-sm btn-outline-secondary">삭제</a>
        <a href="{% url 'crew:update' pk=object.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
    {% else %}
        <a href="{% url 'crew:join' pk=object.id %}" class="btn btn-sm btn-outline-secondary">등록</a>
    {% endif %}
{% endblock %}


