{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
    <h2 class="border-bottom py-2">크루 정보</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line">
                <a> 이름 : {{ object.name }}</a>
                <a> 한줄소개 : {{ object.abstract }}</a>
                <a> 소개 : {{ object.description|safe }}</a>
                <a> 생성날짜 : {{ object.create_date }}</a>
                <a> 모임형태 : {{ object.meeting_type }}</a>
                <a> 모임시간 : {{ object.meeting_time }}</a>
                <a> 모임제한 : {{ object.meeting_limit }}</a>
                <a> 크루 소속 공동체 : {{ object.community }}</a>
                <a> 크루 매니저 :</a>
                <div class="d-inline-flex position-relative">
                    {% if crew.manager.profile_image %}
                        <img class="rounded shadow" src="{{ crew.manager.profile_image }}" alt="Avatar" style="width: 20px; height: 20px;">
                    {% endif %}
                        <p class="badge bg-primary">{{ crew.manager.name }}</p>
                </div>
                <a> 크루 멤버 : </a>
                {% for member in crew.members.all %}
                <div class="d-inline-flex position-relative">
                {% if member.profile_image %}
                    <img class="rounded shadow" src="{{ member.profile_image }}" alt="Avatar" style="width: 20px; height: 20px;">
                {% endif %}
                    <p class="badge bg-primary">{{ member.name }}</p>
                </div>
                {% endfor %}
                <a> 최대모임인원 (본인 포함) : {{ crew.members.count }} / {{ crew.member_limit }}</a>
                <a> 크루 소개 사진 :</a>
                {% if crew.image %}
                    <img src="{{ crew.image.url }}"></img>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.id == crew.manager.id  %}
        <a href="{% url 'crew:delete' pk=object.id %}" class="delete btn btn-sm btn-outline-secondary">삭제</a>
        <a href="{% url 'crew:update' pk=object.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
    {% else %}
        <a href="{% url 'crew:join' pk=object.id %}" class="btn btn-sm btn-outline-secondary">등록</a>
    {% endif %}
{% endblock %}


