[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/mercytin/venv/bin/uwsgi -i /home/mercytin/GWKS_CrewManager/.config/uwsgi/gwkscrew.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target