
<div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        {% load static %}
        <a href="{% url 'crew:list' %}"><!--로고..필요 -->
            청년마을 Crew</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crew:list' %}">크루 리스트</a>
                </li>


                {% if user.is_authenticated %}

{#                    <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'zoom:meetinglist' %}">줌 예약</a>#}
{#                    </li>#}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }} (로그아웃)</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                    {%  load socialaccount %}
                    <a href="{% provider_login_url "kakao" %}" class="nav-link" id="kakao_login">카카오로 로그인</a>
                    </li>
{#                    <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'accounts:register' %}">회원가입</a>#}
{#                    </li>#}
                {% endif %}

            </ul>
        </div>
    </div>
</div>